@import "../../assets/library";

#victoryContainer {
    display: flex;
    justify-content: space-between;
    padding: 3vh 2vw;

    #innerVictoryContainer {
        display: flex;
        background: $background-sidebar;
        border-radius: $radius-card;
        border: 1px solid white;
        width: 100%;
        padding-right: 2vw;

    }
}