@import "../../assets/library";

#gloryContainer {
    height: 100%;
    background: $background-card;
    width: 50%;
    margin-left: 1vw;
    border-radius: $radius-card;
    box-shadow: $shadow-card;
    outline: $border-card;

    #buttonsTop {
        display: flex;
        width: auto;
        background-color: aqua;
        height: 25%;

        .changeContent {

        }
    }

    #mainContent {
        flex: 1;
        background-color: red;
        width: auto;
        height: max-content;
    }
}