@import '../../assets/library';

#treasureContainer {
    height: 100%;
    width: 50%;
    background: $background-card;
    margin-right: 1vw;
    border-radius: $radius-card;
    box-shadow: $shadow-card;
    outline: $border-card;
}