@import "../../assets/library";

#sinkOrSailContainer {
    display: flex;
    justify-content: space-between;
    padding: 3vh 2vw;

    #innerSinkOrSailContainer::before {
        content: '';
    position: absolute;
    inset: 0;
    padding: 2px;
    background: linear-gradient(40deg, #FFFFFF 0%, rgba(238, 237, 237, 0.5) 100%);
    border-radius: inherit;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    opacity: 40%;
    pointer-events: none;
    z-index: -1;
    }

    #innerSinkOrSailContainer {
        display: flex;
        background: $background-sidebar;
        border-radius: $radius-card;
        border: 0;
        width: 100%;
        padding-right: 2vw;
        position: relative;

    }
}