@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(114deg, #2C5BB8 -0.93%, #3849A3 27.91%, #473287 66.02%);
}

code {
  font-family: "Inter", sans-serif;
}
