@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(154deg, #000 0%, #19006A 85%, #00B0FF 100%);
}

code {
  font-family: "Inter", sans-serif;
}
